<!DOCTYPE html>
<html>
<head>
	<title>Tile Trail</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="js/snowstorm-min.js"></script>

	<style type="text/css">

		body {
			font-family: helvetica;
			background-color: #B5E2FA; 
		}

		#banner {
			height: 560px;
			width: 640px;
		}

		h1 {
			font-size: 80px;
			margin-bottom: 0px;
			margin-top: 2px;
		}

		button {
			margin-top: 0px; 
			font-size: 30px !important;
			width: 200px;
		}

		.btn {
			border: none;
			box-shadow: 1px 2px 3px 2px grey;
		}

		a:hover {
			text-decoration: none;
		}
	</style>
</head>
<body class="">
	<div class="" style="text-align:center;">
		<h1>Tile Trail</h1>
		<button type="button" class="btn btn-default"><a href="/play">Play Now</a></button>
		<p style="text-align:center;">
			<img id="banner" style="margin:auto;" src="assets/Hiker.png"/>
		</p>
	</div>
</body>
</html>